{CSSTemplate {
    $classpath : 'amnezic.core.view.QuestionStyle'
}}

    {macro main()}
        
        /*
        .audio .volume {
            font-size: 70%;
        }
        */
        
        .progress {
            height: 5px;
            margin: 0px;   
        }
        
        .btn {
            min-height: 20px;
            vertical-align: middle;
        }
        
        .answer .number {
            /* border: 1px solid #999999; */
            /* border-radius: 4px 4px 4px 4px; */
            /* font-size: 21px; */
            text-align: center;
        }
        
        .answer .answer {
            /* font-size: 120%; */
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .answer .hint {
            /* font-size: 80%; */
            /* font-style: italic; */
        }
        	   
        /* card */
        
        .cards {
            width: 600px;
        }
        
        .card {
            height: 67px;
            width: 46px;
            
            background-color: #FFFFFF;
            background-image: url('./img/jeu-de-cartes.jpg');
            
            margin: 2px;
        }
        
        .card:hover {
            opacity: 0.8;
            cursor: pointer;
        }
        
        .card.heart.one {
            background-position: 0px -134px;
        }
        
        .card.heart.two {
            background-position: -46px -134px;
        }
        
        .card.heart.three {
            background-position: -92px -134px;
            width: 47px;
        }
        
        .card.heart.four {
            background-position: -138px -134px;
            width: 47px;
        }
        
        .card.heart.five {
            background-position: -184px -134px;
            width: 47px;
        }
        
        .card.heart.six {
            background-position: -230px -134px;
            width: 47px;
        }
        
        .card.spade.one {
            background-position: 0px -201px;
        }
        
        .card.spade.two {
            background-position: -46px -201px;
        }
        
        .card.spade.three {
            background-position: -92px -201px;
            width: 47px;
        }
        
        .card.spade.four {
            background-position: -138px -201px;
            width: 47px;
        }
        
        .card.spade.five {
            background-position: -184px -201px;
            width: 47px;
        }
        
        .card.spade.six {
            background-position: -230px -201px;
            width: 47px;
        }
        
        .card.club.one {
            background-position: 0px 0px;
        }
        
        .card.club.two {
            background-position: -46px 0px;
        }
        
        .card.club.three {
            background-position: -92px 0px;
            width: 47px;
        }
        
        .card.club.four {
            background-position: -138px 0px;
            width: 47px;
        }
        
        .card.club.five {
            background-position: -184px 0px;
            width: 47px;
        }
        
        .card.club.six {
            background-position: -230px 0px;
            width: 47px;
        }
        
        .card.diamond.one {
            background-position: 0px -67px;
        }
        
        .card.diamond.two {
            background-position: -46px -67px;
        }
        
        .card.diamond.three {
            background-position: -92px -67px;
            width: 47px;
        }
        
        .card.diamond.four {
            background-position: -138px -67px;
            width: 47px;
        }
        
        .card.diamond.five {
            background-position: -184px -67px;
            width: 47px;
        }
        
        .card.diamond.six {
            background-position: -230px -67px;
            width: 47px;
        }    
    
	{/macro}

{/CSSTemplate}
