{CSSTemplate {
    $classpath : 'amnezic.core.view.CardStyle'
}}

    {macro main()}
    
        .card {
            display: inline-block;
            width: 46px;
            height: 67px;
            box-shadow: 2px 2px 2px #BBB;
        }
        
        .card {
            background-image: url('/img/jeu-de-cartes.jpg');
        }
        
        .card.mini {
            width: 20px;
            height: 20px;
        }
        
        .card {
            background-position: 0 67px;
        }
        
        .card.spade {
            background-position: 0 134px;
        }
        
        .card.heart {
            background-position: 0 201px;
        }
        
        .card.club {
            background-position: 0 335px;
        }
        
        .card.diamond {
            background-position: 0 268px;
        }
    
    {/macro}

{/CSSTemplate}
