
/* html **************************************************/

body {
	background-color: #DCDDD8;
	background-image: url('../img/background-noise.png');
    overflow-y: scroll;
}

input{
    min-height: 30px;
}

/* aria.templates **************************************************/

.xLDI {
    padding: 10px;
    margin-bottom: 20px;
    max-height: 50px !important;
    opacity: 0.3 !important;
    width: auto !important;
    display: none;
}

.xWidget {
    margin: 0px !important;
}

/* twitter.bootstrap **************************************************/

.container {
	padding: 10px;
}

.brand {
	font-size: 140%;
	vertical-align: middle;
}

.btn-toolbar {
	margin: 0px;
}

/* amnezic **************************************************/

.amnezic .form-horizontal  .control-group {
    margin-bottom: 0px;
}

.amnezic .form-horizontal .controls {
    padding-top: 5px;
    margin-bottom: 5px;
}

/* amnezic.users **************************************************/

.amnezic .users .name {
    width: 200px;
}

.amnezic .users .active {
    width: 100px;
}

.amnezic .users .score {
    width: 100px;
}

/* webkit animation **************************************************/

@-webkit-keyframes confetti_fade { 
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes confetti_drop {
    0% {
        top: -20px;
    }
    100%{
        top: 400px;
    }
}

@-webkit-keyframes confetti_clockwise {
    0% {
        -webkit-transform: scale(1, -0.7) rotate(70deg);
    }
    100% {
        -webkit-transform: scale(1, 1) rotate(-50deg);
    }
}

@-webkit-keyframes confetti_counterclockwise {
    0% {
        -webkit-transform: scale(1, 1) rotate(-50deg);
    }
    100% {
        -webkit-transform: scale(1, -0.7) rotate(70deg);
    }
}

/* moz animation **************************************************/

@-moz-keyframes confetti_fade { 
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes confetti_drop {
    0% {
        top: -20px;
    }
    100%{
        top: 200px;
    }
}

@-moz-keyframes confetti_clockwise {
    0% {
        -moz-transform: rotate(-50deg);
    }
    100% {
        -moz-transform: rotate(50deg);
    }
}

@-moz-keyframes confetti_counterclockwise {
    0% {
        -moz-transform: scale(-1, 1) rotate(50deg);
    }
    100% {
        -moz-transform: scale(-1, 1) rotate(-50deg);
    }
}
