
/* html **************************************************/

body {
	background-color: #DCDDD8;
	background-image: url('../img/background-noise.png');
    overflow-y: scroll;
}

input{
    min-height: 30px;
}

/* aria.templates **************************************************/

.xLDI {
    padding: 10px;
    margin-bottom: 20px;
    max-height: 50px !important;
    opacity: 0.3 !important;
    width: auto !important;
    display: none;
}

.xWidget {
    margin: 0px !important;
}

/* twitter.bootstrap **************************************************/

.container {
	padding: 10px;
}

.brand {
	font-size: 140%;
	vertical-align: middle;
}

.btn-toolbar {
	margin: 0px;
}

/* amnezic **************************************************/

.amnezic .form-horizontal  .control-group {
    margin-bottom: 0px;
}

.amnezic .form-horizontal .controls {
    padding-top: 5px;
    margin-bottom: 5px;
}

/* amnezic.users **************************************************/

.amnezic .users .name {
    width: 200px;
}

.amnezic .users .active {
    width: 100px;
}

.amnezic .users .score {
    width: 100px;
}
