
/* html **************************************************/

body {
	background-color: #DCDDD8;
	/* background-image: url('../img/background-noise.png'); */
    background-image: url('../img/bg.gif');
    overflow-y: scroll;
    overflow-x: hidden;
}

input{
    /* min-height: 30px; */
}

input[type='range'] {
    -webkit-appearance: none !important;
    /* background-color: #90CA77; */
    background-color: #FFF;
    /* border: 1px solid #000; */
    height: 1px;
    border-radius: 1px;
    /* padding: 0px 10px; */
    box-shadow: -2px -1px 2px #000;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #AAA;
    border: 1px solid #AAA;
    height: 20px;
    width: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #555;
}

input[type='range']::-webkit-slider-thumb:hover {
    cursor: pointer;
}

/* aria.templates **************************************************/

.xLDI {
    padding: 10px;
    margin-bottom: 20px;
    max-height: 50px !important;
    opacity: 0.3 !important;
    width: auto !important;
    display: none;
}

.xWidget {
    margin: 0px !important;
}

/* twitter.bootstrap **************************************************/

.brand {
	font-size: 140%;
	vertical-align: middle;
}

.btn-toolbar {
	margin: 0px;
}

.table th,
.table td {
    background-color: #FFF;
}

/* amnezic **************************************************/

.amnezic .header {
    position: fixed;
    z-index: 999;
    /* background-color: #555; */
    /* border-bottom: 1px solid #000; */
    width: 100%;
    text-align: center;
}

.amnezic .header .container {
    margin: auto;
    /* box-shadow: 2px 2px 4px #333; */
}

.amnezic .header .navbar {
    margin-bottom: 0px;
}

.amnezic .body {
    padding-top: 40px;
}

.amnezic .body .container {
    padding-top: 20px;
    padding-bottom: 20px;
    /* min-height: 2000px; */
    /* margin: 10px; */
    /* border-radius: 10px; */
    background-image: url('../img/white_30.png');
}

.amnezic .selectable {
    margin: 3px;
}

.amnezic .selectable:hover {
    margin: 0px;
    border: 3px solid #90CA77;
    border-radius: 3px;
}

/* amnezic.form **************************************************/

.amnezic .form-horizontal  .control-group {
    margin-bottom: 0px;
}

.amnezic .form-horizontal .controls {
    padding-top: 5px;
    margin-bottom: 5px;
}

/* amnezic.users **************************************************/

.amnezic .users {
    /* border-radius: 5px; */
    margin: auto;
    width: auto;
}

.amnezic .users th {
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    /* border-radius: 5px; */
}

.amnezic .users .name {
    /* width: 200px; */
}

.amnezic .users .active {
    text-align: center;
}

.amnezic .users .score {
    text-align: center;
}

.amnezic .users .actions {
    text-align: center;
}

.amnezic .users .toolbar {
    background-color: transparent;
}

/* amnezic.themes **************************************************/

.amnezic .themes {
    /* border-radius: 5px; */
    margin: auto;
    width: auto;
}

.amnezic .themes th {
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    /* border-radius: 5px; */
}

.amnezic .themes .title {
    /* width: 200px; */
}

.amnezic .themes .active {
    text-align: center;
}

.amnezic .themes .nb {
    text-align: center;
}

.amnezic .themes .actions {
    text-align: center;
}

.amnezic .themes .toolbar {
    background-color: transparent;
}

/* amnezic.questions **************************************************/

.amnezic .questions {
    /* border-radius: 5px; */
    margin: auto;
    width: auto;
}

.amnezic .questions th {
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    /* border-radius: 5px; */
}

.amnezic .questions .toolbar {
    background-color: transparent;
}

/* amnezic.search **************************************************/

.amnezic .search .response .result {
    margin-bottom: 5px;
}

.amnezic .search .response .result .action {
    margin-top: 20px;
    text-align: center;
}

/* amnezic.search **************************************************/

.amnezic .card {
    background-image: url('../img/jeu-de-cartes.jpg');
}

