/* webkit animation **************************************************/

@-webkit-keyframes confetti_fade { 
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes confetti_drop {
    0% {
        top: -20px;
    }
    100%{
        top: 400px;
    }
}

@-webkit-keyframes confetti_clockwise {
    0% {
        -webkit-transform: scale(1, -0.7) rotate(70deg);
    }
    100% {
        -webkit-transform: scale(1, 1) rotate(-50deg);
    }
}

@-webkit-keyframes confetti_counterclockwise {
    0% {
        -webkit-transform: scale(1, 1) rotate(-50deg);
    }
    100% {
        -webkit-transform: scale(1, -0.7) rotate(70deg);
    }
}

/* moz animation **************************************************/

@-moz-keyframes confetti_fade { 
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes confetti_drop {
    0% {
        top: -20px;
    }
    100%{
        top: 200px;
    }
}

@-moz-keyframes confetti_clockwise {
    0% {
        -moz-transform: rotate(-50deg);
    }
    100% {
        -moz-transform: rotate(50deg);
    }
}

@-moz-keyframes confetti_counterclockwise {
    0% {
        -moz-transform: scale(-1, 1) rotate(50deg);
    }
    100% {
        -moz-transform: scale(-1, 1) rotate(-50deg);
    }
}
